// colors
$black_1: #000000;
$black_2: #212121;

$blue_1: #6cdbf3;
$blue_2: #296ff6;

$gray_1: #b1b1b1;

$green_1: greenyellow;
$green_2: #2efb06;

$red_1: #ed1d25;
$red_2: #8b0000;
$red_3: #600506;
$red_4: red;

$white_1: #ffffff;
$white_2: rgba(255, 255, 255, 0.7);

$yellow_1: yellow;
